<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to The Village, <%= @user.username %></h1>
    <p>
      You have successfully signed up to The Village,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      We are really glad you have joined our group! There are a few rules that we would like you follow 
      while in this group. We will be having someone monitor this website and if the rules are not followed we will remove you from the group.
    </p>
    <p>
    Be Kind and Courteous
    We do not tolerate any rude or unnecessary answers or Questions. This is a support group.
    </p>
    <p>
    No Hate Speech or Bullying
    No bullying or degrading comments about things like race, religion, culture, or identity. 
    </p> 
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>